@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Sirivennela&family=Story+Script&display=swap');

.caveatFont {
    font-family: "Caveat", cursive;
}

.Cormorant-Garamond {
    font-family: "Cormorant Garamond", serif;
}

.SiriVennela{
    font-family: "Sirivennela", sans-serif;
}
.StoryScript{
  font-family: "Story Script", sans-serif;
}